# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store

# Env
.env

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.claude/

# dotenv environment variable files

# tests
/coverage
/.nyc_output

# dependency directories

# Temp directories

# TypeScript v1 declaration files
typings/

# uploaded files
/public/uploads/avatars/*
!/public/uploads/avatars/.gitkeep
